<div class="container">
  <h1>Teachers Details</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each teacherdata}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td><a href="/{{this.id}}/students">{{this.firstName}}</a></td>
        <td><a href="/{{this.id}}/students">{{this.lastName}}</a></td>
        <td>{{this.age}}</td>
        <td>{{this.email}}</td>
        <td><a href="/edit-teacher/{{this.id}}">Edit</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a class="btn btn-primary btn-lg" href="/add-teacher">Add teacher</a>
</div>
